@import '../utils/variables';

.button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.button-primary {
    background-color: $primary-color;
    color: #fff;
}

.button-secondary {
    background-color: $secondary-color;
    color: #fff;
}
